:root {
  --bs-heading-color: black !important;
  --heavy-blue: #4475ad;
}

.body {
  overflow: hidden;
}

.h5 {
   font-size: 0.5rem !important;
   color: black !important;
}

.h3 {
  color: black !important;
}

.p {
  font-size: 1rem !important;
  color: black !important;
}

.shiny-input-container {
  font-size: 1.5rem !important;
  width: 100%;
  overflow: display;
}

.shiny-options-group {
  font-size: medium;
}

.shiny-minibutton {
  position: absolute;
  z-index: 1000;
  width: 1rem;
  height: 1rem;
  border: solid 1px black;
  background: #999 url('https://cdn-icons-png.flaticon.com/512/2985/2985150.png') 0 0 no-repeat;
  background-size: contain;
  rotate: 180deg;
  pointer-events: all;
  transition: all 0.5s linear;
}

.shrink-leg {
  transform: scale(1,0) !important;
  border: solid 2px black;
}

.minibutton-closed {

}

.control-label {
  font-size: large;
  margin-top: -1rem !important;
}

.navbar-header {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.nav-link {
  color: white !important;
}

.sidebar {
  overflow-x: hidden !important;
  background-color: #d7ebf5 !important;
  color: var(--heavy-blue) !important;
}
.sidebar-content {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.selectize-input,.filter-option {
  font-size: 1rem !important;
}

.irs-grid-text {
  font-size: 0.65rem !important;
}

.accordion-button:not(.collapsed){
  background: #168eb075;
}

.unhooked-btn {
  background: grey;
}

.hide_panel {
  display: hidden;
}

.navbar-static-top {
  background: var(--heavy-blue);
}

.custom-tooltip {
  background: #e6e6e6;
  border: 1px solid black;
  position: absolute;
  top: 0px; left: 0px;
  width: auto;
  z-index: 1000;
  display: none;
  pointer-events: none;
}

.title-text {
  color: white !important;
}

.btn-info {
  display:grid;
  height: 8vh;
  margin-top:1.5rem;
  padding: 10px;
}
