:root {
  --bs-heading-color: black !important;
  --heavy-blue: #4475ad;
}

.body {
  overflow: hidden;
}

.h5 {
   font-size: 0.5rem !important;
   color: black !important;
}

.h3 {
  color: black !important;
}

.p {
  font-size: 1rem !important;
  color: black !important;
}

.shiny-input-container {
  font-size: 1.5rem !important;
  width: 100%;
  overflow: display;
}

.shiny-options-group {
  font-size: medium;
}

.shiny-minibutton {
  position: absolute;
  z-index: 1000;
  width: 1rem;
  height: 1rem;
  border: solid 1px black;
  border-radius: 35%;
  /*rotate: var(--minibutton-rotate);*/
  pointer-events: all;
  transition: all 0.5s linear;
  cursor: pointer;
}

.shiny-minibutton::before {
  --scale: 0;
  --tooltip_colour: black;
  position: absolute;
  top: -.25rem; left: 50%;
  width: fit-content;
  display: flex;
  color: var(--tooltip_colour);
  content: 'Click to show/hide legend';
  padding: .5rem;
  border: solid 1px var(--tooltip_colour);
  border-radius: .3rem;
  text-align: center;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  transition: all 250ms ease-in-out;
  transform-origin: bottom center;
  background: white;
}

.shiny-minibutton:hover::before {
  --scale: 1;
}

.minibutton-background {
  position: absolute;
  top: 0px; left: 0px;
  transform: rotate(180deg);
  width: 100%; height: 100%;
  border: solid 1px transparent;
  border-radius: .5rem;
  z-index: -1;
  background-image: url('https://cdn-icons-png.flaticon.com/512/2985/2985150.png');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  transition: all 0.5s linear;
}

.shrink-leg {
  transform: scale(1,0) !important;
  border: solid 2px black;
}

.control-label {
  font-size: large;
  margin-top: -1rem !important;
}

.navbar-header {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.nav-link {
  color: white !important;
}

.sidebar {
  overflow-x: hidden !important;
  background-color: #d7ebf5 !important;
  color: var(--heavy-blue) !important;
}
.sidebar-content {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.selectize-input,.filter-option {
  font-size: 1rem !important;
}

.irs-grid-text {
  font-size: 0.65rem !important;
}

.accordion-button:not(.collapsed){
  background: #168eb075;
}

.unhooked-btn {
  background: grey;
}

.hide_panel {
  display: hidden;
}

.navbar-static-top {
  background: var(--heavy-blue);
}

.custom-tooltip {
  background: #e6e6e6;
  border: 1px solid black;
  position: absolute;
  top: 0px; left: 0px;
  width: auto;
  z-index: 1000;
  display: none;
  pointer-events: none;
}

.title-text {
  color: white !important;
}

.btn-info {
  display:grid;
  height: 8vh;
  margin-top:1.5rem;
  padding: 10px;
}
